{% extends 'base.html' %}
{% block content %}

    <!--Section-1-->
    <section class="section-1">
        <div class="jumbotron d-flex align-items-center">
            <div class="gradient"></div>
            <div class="container content">
                <h1>We Build Your Dream Homes</h1>
                <h2>we are dreams of your dreams</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type book.</p>
                <p><a href="/about" class="btn btn-success">Get Started</a><a href="/about" class="btn btn-default">view our services</a></p>
            </div>
            <!--container-fluid end-->
        </div>
    </section>
    <!--Section-1-->
    <section class="services">
        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-duration="500">

                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="card">
                        <div class="card-block block-1">
                            <h3 class="card-title"><a href="/services">Architectural Services</a></h3>
                        </div>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and...</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="card">
                        <div class="card-block block-2">
                            <h3 class="card-title"><a href="/services">Tall tower construction</a></h3>
                        </div>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and...</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="card">
                        <div class="card-block block-3">
                            <h3 class="card-title"><a href="/services">Construction consulting</a></h3>
                        </div>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and...</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="about">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row align-items-center" data-aos="fade-up" data-aos-duration="500">
                <div class="col-lg-5 col-md-12 left-side">
                    <!-- 1st col -->
                    <figure class="figure">
                        <img src="/static/images/about-bg.jpg" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                        <span class="box-1"></span>
                    </figure>
                </div>
                <div class="col-lg-7 col-md-12 right-side">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Our recent projects,</h3>
                            <h4>see our marvels ....</h4>
                        </div>
                        <div class="col-md-12 about-middle">
                            <h5>The Magic Towers</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and...</p>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and...text ever since the 1500s, when an unknown printer took a galley of type and...
                            </p>
                        </div>
                        <div class="col-md-12">
                            <!-- Buttons -->
                            <a href="#" class="btn btn-warning">previous  project</a>
                            <a href="#" class="btn btn-warning">Next project</a>
                            <!-- Buttons End-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row End-->
        </div>
        <!-- Container End -->
    </section>
    <div class="container">
    </div>
    <!-- About-Section End-->
    <section class="section-2">
        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-duration="500">
                <div class="col-lg-7 col-md-12">
                    <div id="accordion" class="accordion">
                        <div class="card">
                            <div class="card-header" data-toggle="collapse" href="#collapseOne">
                                <a class="card-title">
                                    Building Reconstructions and Touchups
                                </a>
                            </div>
                            <div id="collapseOne" class="card-body collapse show" data-parent="#accordion">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a </p>
                                <p>galley of type and. orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and...text ever since the 1500s, when an unknown printer took a galley of type and...</p>
                            </div>
                            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <a class="card-title">
                                    Advanced Architecture Designing
                                </a>
                            </div>
                            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a </p>
                                <p>galley of type and. orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and...text ever since the 1500s, when an unknown printer took a galley of type and...</p>
                            </div>
                            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <a class="card-title">
                                    Skycrapper Building and Planning
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a </p>
                                    <p>galley of type and. orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and...text ever since the 1500s, when an unknown printer took a galley of type and...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <figure class="figure">
                        <img src="/static/images/section-2-image.jpg" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- Section-Section End-->
    <section class="section-3">
        <div class="container">
            <div class="row"  data-aos="fade-up" data-aos-duration="600">
                <div class="col-lg-6 col-md-12 left-slid">
                    <div class="videoWrapper">
                        <!-- Copy & Pasted from YouTube -->
                        <iframe width="100%" src="https://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 right-side">
                    <div class="content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a </p>
                        <P>galley of type and. orem Ipsum is simply dummy text of the unknown printer took a galley of type and...text ever since the 1500s, when an unknown printer took a galley of type and....</P>
                        <a href="#" class="btn btn-info" role="button">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section-Section End-->
    <!-- Support section Start -->
    <section class="support">
        <div class="container">
            <div class="row"  data-aos="fade-up" data-aos-duration="300">
                <div class="col-sm-12">
                    <div class="heading">
                        <h2>Lets build beautiful buildings together</h2>
                        <h3>have a project in mind? just get back to us...</h3>
                    </div>
                </div>

                <div class="container">
                    <div class="row"  data-aos="fade-up" data-aos-duration="500">
                        <div class="col-xl-9 col-lg-12 col-12">
                            <form class="form1" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-4 col-12">
                                        <input class="form-control" name="name" id="name" placeholder="Enter your Name" required>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <input class="form-control" name="email" id="email" placeholder="Enter your Email" required>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <input class="form-control" name="number" id="number" placeholder="Phone number" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-8 col-12">
                                        <select name="work" method='GET' required>
                                            {% for jobs in work %}
                                            <option value= "{{work}}" SELECTED>{{jobs}}</option>"
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <input class="form-control" name="web" id="web" placeholder="Website if Available" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <textarea class="form-control" name="message" id="message" placeholder="Enter your message" required></textarea>
                                    </div>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Lets get Started">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Support section Ended -->
    
        <section class="subscribe">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="heading">
                                    <h2>subscribe to our monThly newsletter</h2>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <form class="row form-inline form2" method="POST">
                                    <div class="col-md-1 sub-hidden"></div>
                                    <div class="col-lg-4 col-md-4 form-group">
                                        <input class="form-control" name="emailName" id="emailName" placeholder="Enter your name" required/>
                                    </div>
                                    <div class="col-lg-4 col-md-4 form-group">
                                        <input class="form-control" name="emailEmail" id="emailEmail" placeholder="Enter your Email id" required/>
                                    </div>
                                    <div class="col-lg-2 col-md-4">
                                        <input type="submit" class="btn btn-primary" value="Subscribe"/>
                                    </div>
                                    <div class="col-md-1 sub-hidden"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  

    
{% endblock %}
