{% extends 'base.html' %}
{% block content %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h1>Support</h1>
                </div>
                <div class="col-md-6 col-12 buttons">
                    <!-- Buttons -->
                    <a href="#" class="btn btn-warning">Get Started</a>
                    <a href="#" class="btn btn-primary">view our services</a>
                    <!-- Buttons End-->
                </div>
            </div>
        </div>
    </section>

    <!-- Support Section Ended -->
    <section class="support-Page">
        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-duration="500">
                <div class="col-lg-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry' Lorem Ipsum is simply du mmy text of the printing and typesetting industry.
                        <p>
                            <form method="POST">
                                <div class="contact-form" role="form">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input name="name" class="form-control" id="name" placeholder="Your Name" required/>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" name="email" id="email" placeholder="Email" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input name="number" id="number" class="form-control" placeholder="Phone" required/>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" name="web" id="web" placeholder="Website" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" name="message" id="message" placeholder="Message" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" value="Contact" class="btn btn-primary" />
                                </div>
                            </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Support Section Ended -->

    <!-- Support section Ended -->
    <section class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading">
                                <h2>subscribe to our monThly newsletter</h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <form class="row form-inline">
                                <div class="col-md-1 sub-hidden"></div>
                                <div class="col-lg-4 col-md-4 form-group">
                                    <input type="text" class="form-control" placeholder="Enter your name" required/>
                                </div>
                                <div class="col-lg-4 col-md-4 form-group">
                                    <input type="email" class="form-control" placeholder="Enter your Email id" required/>
                                </div>
                                <div class="col-lg-2 col-md-4">
                                    <button type="submit" class="btn btn-primary">Subscribe</button>
                                </div>
                                <div class="col-md-1 sub-hidden"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}